body {
  margin-left: 0;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  color: #4d4e53;
  background-color: #ffffff;
}

ul {
  display: block;
  text-align: left;
}

a {
  text-decoration: none;
}

header {
  margin: 10px;
  color: black;
  text-align: center;
  font-size: 1.8em;
}

.main-section header {
  text-align: left;
}

#navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  border-right: solid;
  height: 100%;
  width: 300px;
}

#navbar li {
  text-align: left;
  list-style: none;
  border-top: 1px solid;
  margin: 20px;
  width: 100%;
  min-width: 290px;
  position: relative;
  width: 100%;
  color: #4d4e53;
}

#navbar ul {
  font-size: 20px;
  margin: 0;
  padding-left: 0;
}

#navbar header {
  text-align: center;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding-left: 30px;
}

#main-doc {
  display: block;
}
